<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zonesion.gpslocation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.zonesion.app.ZApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_gps"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 访问http://lbsyun.baidu.com/apiconsole/key,为应用申请百度地图API_KEY-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="awzoGTpYgcwTQmFmObrgDbGT" />

        <activity
            android:name="com.zonesion.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>